<li class="nav-item dropdown">
  <a id="navbarUserMenu" class="nav-link dropdown-toggle" href="#"
     role="button" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">
    <%= current_user.username %> 
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserMenu">
    <%= link_to "Edit account", edit_user_registration_path,
      class: "dropdown-item" %>
    <%= link_to 'Sign out', destroy_user_session_path,
      class: "dropdown-item", method: :delete %>
  </div>
</li>

