@import 'bootstrap';
@import 'quotes';

.quote-text {
  font-size: $h4-font-size;
  font-style: italic;
  font-weight: thin;
}

.quote-source {
  color: $text-muted;

  &::before {
    content: '\2014';
    margin-right: .5em;
  }
}

.form-check-input {
  @include box-shadow($input-box-shadow);
  @include transition($input-transition);
  @include form-control-focus();

  background-clip: padding-box;
  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  color: $input-color;
}

.form-group {
  label {
    color: $text-muted;
    font-size: $font-size-sm;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.form-control-textarea-2x {
  height: calc(2*(2px + 1.5rem + 2*0.375rem + 1rem + #{$font-size-sm}*1.5 + 3px) - 1rem - #{$font-size-sm}*1.5 - 3px);
}

.form-control-textarea-3x {
  height: calc(3*(2px + 1.5rem + 2*0.375rem + 1rem + #{$font-size-sm}*1.5 + 3px) - 1rem - #{$font-size-sm}*1.5 - 3px);
}
