<div class="container alerts my-4">

  <% if notice %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="icon-close" aria-hidden="true"></i>
      </button>
      <strong><%= t('alerts.notice') %></strong>
      <span><%= notice %></span>
    </div>
  <% end %>

  <% if alert %> 
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="icon-close" aria-hidden="true"></i>
      </button>
      <strong><%= t('alerts.alert') %></strong>
      <span><%= alert %></span>
    </div>
  <% end %>

</div>
